{% include "host_types/bare_metal.host_requires.xml.j2" %}
<or>
  <device op="=" type="video" driver="amdgpu"/>
  <device op="=" type="video" driver="i915"/>
  <device op="=" type="video" driver="nouveau"/>
  <device op="=" type="video" driver="virtio-pci"/>
  <device op="=" type="video" driver="qxl"/>
</or>
{# exclude hosts that are too slow #}
{# https://gitlab.com/redhat/centos-stream/tests/kernel/kpet-db/-/issues/93#note_1439565937 #}
<not>
  <or>
    <hostname op="=" value="amd-pike-01.ml3.eng.bos.redhat.com"/>
    <hostname op="=" value="intel-purley-lr-02.7a2m.lab.eng.bos.redhat.com"/>
  </or>
</not>
